html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  overflow: hidden;
  display: block;
}

#init {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.3s ease-in-out;
  align-items: center;
}

#buttons {
  display: flex;
  gap: 10px;
}

#presetName {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  text-shadow: 0 0 2px black;
  pointer-events: none;
}
