html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

#init { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}